body {
  background-color: #ffffff;
}

.jumbotron {
  padding-top: 6rem;
  background-image: linear-gradient(#f74a3b, #131972);
  text-shadow: 2px 2px #000000;
}

#projects {
  background-image: linear-gradient(#f74a3b, #131972);
}

section {
  padding-top: 5rem;
}

#contact {
  padding-top: 3rem;
}
