body {
  background-color: #ffffff;
}

.jumbotron {
  padding-top: 6rem;
  background-image: linear-gradient(#e15245, #464a86);
}

#projects {
  background-image: linear-gradient( #454948, #28242c, #454948, #28242c);
}

section {
  padding-top: 5rem;
}

#contact {
  padding-top: 3rem;
}
